body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  color: red;
  text-align: center;
}


/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.gifs-container {
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
  background-color: red;
  padding: 3%;
}

.gif-container {
  max-width: 50%;
  max-height: 200px;
}